# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objective**
- List popular languages for Data Science
- Libraries used by Data Scientists
- Data Science tools
- Evaluating arithmetic expressions in Python

## Author

Nerdin Mansour

Some of the popular languages that Data Scientists use are:
1. Scala
2. Java
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow

| Data Science Tools | 
|----------|
Jupyter Notebooks1    |RStudio4  
| Spyder |   |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [8]:
result = (3 * 4) + 5
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [9]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335